.u-section-1 .u-sheet-1 {
  min-height: 1278px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 317px;
  background-image: url("images/appolish_uzdevs_image.png");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 317px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-family: Urbanist;
  font-weight: 600;
  margin: 0 85px 0 34px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 2.25rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: Urbanist;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 10px 34px 0;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 99px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-layout-wrap-2 {
  margin: 50px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 390px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-family: Urbanist;
  font-weight: 600;
  margin: 0 6px;
}

.u-section-1 .u-image-3 {
  min-height: 390px;
  background-image: url("images/photo_2022-11-05_22-51-02.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 319px;
  background-image: url("images/project_uzdevs_screenshots11.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 319px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-family: Urbanist;
  font-weight: 600;
  margin: 0;
}

.u-section-1 .u-social-icons-1 {
  min-height: 16px;
  width: 181px;
  min-width: 118px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: 37px;
  margin: 60px auto 51px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-1 .u-image-1 {
    min-height: 286px;
    background-position: 79.26% 0%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 15px 0 14px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 2px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 79px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    min-height: 322px;
  }

  .u-section-1 .u-image-4 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 263px;
  }

  .u-section-1 .u-social-icons-1 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-1 .u-image-1 {
    min-height: 224px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 224px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -4px;
    margin-right: 58px;
    margin-left: 21px;
  }

  .u-section-1 .u-image-2 {
    width: 193px;
    height: 67px;
    margin-top: -5px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-image-3 {
    min-height: 247px;
  }

  .u-section-1 .u-image-4 {
    min-height: 201px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 201px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1901px;
  }

  .u-section-1 .u-image-1 {
    min-height: 306px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-1 {
    width: 276px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 16px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-1 .u-image-2 {
    width: 219px;
    height: 85px;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 178px;
    order: 1;
  }

  .u-section-1 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-3 {
    min-height: 371px;
    order: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 302px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 197px;
    height: 42px;
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1479px;
  }

  .u-section-1 .u-image-1 {
    min-height: 167px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 159px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -308px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 139px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-3 {
    min-height: 232px;
  }

  .u-section-1 .u-image-4 {
    min-height: 190px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    width: 195px;
    margin-top: 35px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 486px;
}

.u-section-2 .u-text-1 {
  font-family: Urbanist;
  font-weight: 600;
  width: 178px;
  margin: 0 auto;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 29px auto 60px;
}

.u-section-2 .u-input-1 {
  font-family: Urbanist;
}

.u-section-2 .u-input-2 {
  font-family: Urbanist;
}

.u-section-2 .u-input-3 {
  font-family: Urbanist;
}

.u-section-2 .u-btn-1 {
  font-family: Urbanist;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}